nav {
    display: flex;
    justify-content: center;
    height: calc(100vh - 56px);
    background-color: #303030;
}

li {
    list-style-type: none;
    padding: 10px;
    cursor: pointer;
    a {
        text-decoration: none;
        color: white;
        font-weight: 600;
    }
}