<div class="moves-list-title">
  <h1>Moves list</h1>
</div>
<app-search-bar [title]="'Search a move'" [(searchTerm)]="searchTerm" (searchEvent)="search()"></app-search-bar>
@if(service.itemListIsLoading) {
<div class="loader">
  <mat-spinner></mat-spinner>
</div>
} @else {
<div class="move-list-container">
  @if(items()?.length === 0) {
  <div class="no-moves-found">
    <h2>No moves found</h2>
  </div>
  } @else { @for (move of items(); track move.name) {
  <app-move-card [move]="move"></app-move-card>
  } }
</div>
<div>
  <button
    mat-raised-button
    [disabled]="previousIsNull()"
    (click)="previousMoves()"
  >
    Previous
  </button>
  <button mat-raised-button [disabled]="nextIsNull()" (click)="nextMoves()">
    Next
  </button>
</div>
}
