
.pokemon-list-title {
    text-align: center;
    margin-bottom: 1rem;
}

.pokemon-list-container {
    padding: 5PX;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}